.EditableArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff; /* Adds a 5px border around EditableArea */
  box-sizing: border-box; /* Ensures padding and border are included in dimensions */
  width: 100%;
  height: 100%;
  overflow-x: scroll; /* Ensures content doesn’t overflow */
}

.ImageCanvas {
  flex: 1;
  max-width: 100%; /* Allows ImageCanvas to scale with EditableArea */
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  