.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevents overflow on small screens */
}

.TopBar {
  width: 100%;
  height: 50px;
  background-color: #000000; /* Optional background color */
  display: flex;
  align-items: center;
  padding: 0 16px; /* Optional padding for spacing */
}

.main-content {
  display: flex;
  flex: 1;
  overflow: scroll;
}

.SideBar {
  width: 200px; /* Fixed width for the sidebar */
  background-color: #f3f3f3;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  flex-shrink: 0; /* Prevents SideBar from shrinking */
}

.EditableArea {
  flex: 1; /* Takes up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow-x: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
